* {
  box-sizing: border-box;
}

.main {
  max-width: 600px !important;
  border: 1px solid lightgray;
}

h2, .item-name {
  font-family: 'Roboto Slab', serif !important;
}

.item-number {
  width: 40px !important; 
  height: 40px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}